Temperature_HTTP_enpoint.json
[{"id":"6adf8912.03d4b","type":"tab","label":"HB http Temperature","disabled":false,"info":""},{"id":"da2d2a39.7cfdd8","type":"http in","z":"6adf8912.03d4b","name":"","url":"/temp1","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["d254cf5a.54b478"]]},{"id":"597e8e32.10d028","type":"change","z":"6adf8912.03d4b","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":140,"wires":[["cbda9cab.e088a8"]]},{"id":"cbda9cab.e088a8","type":"http response","z":"6adf8912.03d4b","name":"","x":650,"y":140,"wires":[]},{"id":"d254cf5a.54b478","type":"function","z":"6adf8912.03d4b","name":"Temp flow.get('temp1')","func":"var temp = flow.get('temp1') || 0;\nmsg.payload = { \"Temperature\": temp,}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":140,"wires":[["597e8e32.10d028"]]},{"id":"3ff9f1dc.1c929e","type":"http in","z":"6adf8912.03d4b","name":"","url":"/temp2","method":"get","upload":false,"swaggerDoc":"","x":130,"y":200,"wires":[["e0c3051e.8c8d4"]]},{"id":"a1820b91.b3421","type":"change","z":"6adf8912.03d4b","name":"Set Headers","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.content-type","pt":"msg","to":"application/json","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":510,"y":200,"wires":[["7305aa3f.b6b6ac"]]},{"id":"7305aa3f.b6b6ac","type":"http response","z":"6adf8912.03d4b","name":"","x":650,"y":200,"wires":[]},{"id":"e0c3051e.8c8d4","type":"function","z":"6adf8912.03d4b","name":"Temp flow.get('temp2')","func":"var temp = flow.get('temp2') || 0;\nmsg.payload = { \"Temperature\": temp,}\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":200,"wires":[["a1820b91.b3421"]]},{"id":"f291f986.e854a8","type":"inject","z":"6adf8912.03d4b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":150,"y":80,"wires":[["d3b9a187.a3fe1"]]},{"id":"d3b9a187.a3fe1","type":"change","z":"6adf8912.03d4b","name":"","rules":[{"t":"set","p":"temp1","pt":"flow","to":"15","tot":"str"},{"t":"set","p":"temp2","pt":"flow","to":"22","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[[]]}]